Repository teo-garcia/react-template-vite: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint:js --fix, yarn test, yarn lint:css --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "yarn prettier --write",
    "yarn lint:js --fix",
    "yarn test"
  ],
  "**/*.css": [
    "yarn lint:css --fix"
  ]
}

add starter hero and install react-icons
  .eslintrc.cjs
  .eslintrc.json
  .lintstagedrc
  .lintstagedrc.cjs
  .prettierrc.cjs
  .prettierrc.json
  package.json
  src/App.tsx
  src/features/Hero/Hero.module.css
  src/features/Hero/Hero.tsx
  vite.config.ts
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test, yarn lint:css --fix

feat: add react router and react helmet
  package.json
  src/App.tsx
  src/features/Hero/Hero.module.css
  src/features/Hero/Hero.tsx
  src/features/Routes/Routes.tsx
  src/index.css
  src/pages/404.module.css
  src/pages/404.tsx
  src/pages/index.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test, yarn lint:css --fix

feat: add better docs and github templates
  .babelrc.cjs
  .eslintrc.cjs
  .github/issue_template.md
  .github/pull_request_template.md
  .lintstagedrc.cjs
  .stylelintrc.cjs
  README.md
  package.json
  src/README.png
  tsconfig.json
  yarn.lock
Due: none

bugfix: add README.png file
  README.png
Due: none

feat: add engines property and sort package.json
  README.md
  package.json
Due: none

feat: #2, #3 - add cypress and react-query
  .env.sample
  .gitignore
  .lintstagedrc.cjs
  README.md
  cypress.config.ts
  cypress/e2e/index.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package.json
  src/App.tsx
  src/components/Providers/Providers.tsx
  src/features/Hero/Hero.tsx
  src/lib/types/client.ts
  src/pages/index.tsx
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test

feat: #0 - add LICENSE.md file
  LICENSE.md
Due: none

feat: #0 - fix readme file
  LICENSE.md
  README.md
  package.json
  yarn.lock
Due: none

feat: #0 - migrate to primitive-jsx
  index.html
  package.json
  src/features/Hero/Hero.tsx
  src/index.css
  src/pages/404.tsx
  src/pages/index.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test, yarn lint:css --fix

feat: #0 replace cypress by playwright and bump packages
  .eslintrc.cjs
  .gitignore
  .husky/pre-commit
  .lintstagedrc.cjs
  README.md
  cypress.config.ts
  cypress/e2e/index.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  e2e/example.spec.ts
  jest.config.cjs
  package.json
  playwright.config.ts
  src/features/Hero/Hero.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  tsconfig.tsbuildinfo
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test

feat: #0 bump dependencies
  .eslintrc.cjs
  package.json
  tsconfig.tsbuildinfo
  yarn.lock
Due: none

feat: #4 add Seo component
  jest.config.cjs
  package.json
  src/App.test.tsx
  src/App.tsx
  src/components/Providers/Providers.tsx
  src/components/Seo/Seo.tsx
  src/features/Hero/Hero.tsx
  src/features/Routes/Routes.tsx
  src/lib/types/client.ts
  src/main.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  tsconfig.json
  tsconfig.tsbuildinfo
Due: yarn prettier --write, yarn lint:js --fix, yarn test

feat: #0 use arrow functions
  .gitignore
  README.md
  src/App.tsx
  src/components/Seo/Seo.tsx
  src/features/Routes/Routes.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  tsconfig.tsbuildinfo
Due: yarn prettier --write, yarn lint:js --fix, yarn test

feat: #0 change styles setting and bump deps
  package.json
  src/features/Banner/Banner.module.css
  src/features/Banner/Banner.tsx
  src/features/Hero/Hero.tsx
  src/features/NotFoundBanner/NotFoundBanner.module.css
  src/features/NotFoundBanner/NotFoundBanner.tsx
  src/index.css
  src/lib/styles/resets.css
  src/lib/styles/theme.css
  src/lib/styles/utils.css
  src/lib/types/client.ts
  src/pages/404.tsx
  src/pages/index.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test, yarn lint:css --fix

feat: #5 use clsx instead of classnames and add more css utils
  package.json
  src/features/Banner/Banner.tsx
  src/lib/styles/utils.css
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test, yarn lint:css --fix

feat: #0 bump dependencies
  package.json
  yarn.lock
Due: none

feat: #0 add plop to create components quickly
  package.json
  plopfile.cjs
  src/lib/tools/getPlopGenerators.cjs
  templates/component.css.hbs
  templates/component.jsx.hbs
  templates/component.test.hbs
  yarn.lock
Due: none

feat: #0 bump packages, delete primitive-jsx and migrate to npm
  .lintstagedrc.cjs
  package-lock.json
  package.json
  src/features/Banner/Banner.tsx
  src/features/NotFoundBanner/NotFoundBanner.tsx
  src/features/Routes/Routes.tsx
  src/index.css
  src/pages/404.tsx
  src/pages/index.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test, yarn lint:css --fix

feat: #0 add github actions
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .lintstagedrc.cjs
  vercel.json
Due: none

feat: #0 - move to yarn again
  package-lock.json
  yarn.lock
Due: none

feat: #0 use yarn in gh actions
  .github/workflows/ci.yml
Due: none

feat: #0 use yarn in the cd pipeline
  .github/workflows/cd.yml
Due: none

feat: #0 - bump deps and re setup react router
  .github/workflows/ci.yml
  package.json
  src/features/Routes/Routes.tsx
  src/lib/tools/getPlopGenerators.cjs
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test

feat: #0 bump dependencies and change theme
  package.json
  src/features/Banner/Banner.module.css
  src/features/Banner/Banner.tsx
  src/lib/styles/resets.css
  src/lib/styles/theme.css
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test, yarn lint:css --fix

feat: #0 bump dependencies and improve theming
  package.json
  src/components/Providers/Providers.tsx
  src/components/ThemeSwitch/ThemeSwitch.module.css
  src/components/ThemeSwitch/ThemeSwitch.test.tsx
  src/components/ThemeSwitch/ThemeSwitch.tsx
  src/features/Banner/Banner.tsx
  src/lib/styles/resets.css
  src/lib/styles/theme.css
  src/lib/types/client.ts
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test, yarn lint:css --fix

feat: #0 fix cd pipeline node version
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: none

feat: #0 change node engine versions
  package.json
Due: none

feat: #0 bump dependencies, fix color contrasts and improve ThemeSwitch
  package.json
  src/components/ThemeSwitch/ThemeSwitch.test.tsx
  src/components/ThemeSwitch/ThemeSwitch.tsx
  src/lib/styles/theme.css
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test, yarn lint:css --fix

feat: bump deps and add tailwind
  .stylelintrc.cjs
  package.json
  postcss.config.js
  src/components/ThemeSwitch/ThemeSwitch.test.tsx
  src/components/ThemeSwitch/ThemeSwitch.tsx
  src/features/Banner/Banner.module.css
  src/features/Banner/Banner.tsx
  src/features/NotFoundBanner/NotFoundBanner.module.css
  src/features/NotFoundBanner/NotFoundBanner.tsx
  src/index.css
  src/lib/styles/resets.css
  src/lib/styles/theme.css
  src/lib/styles/utils.css
  tailwind.config.js
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test, yarn lint:css --fix

chore: bump deps
  package.json
  src/components/Providers/Providers.tsx
  src/features/Router/Router.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test

chore: bump deps
  package.json
  yarn.lock
Due: none

chore: bump deps
  package.json
  src/components/ThemeSwitch/ThemeSwitch.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test

feat: #6 add layout component
  src/components/Layout/Layout.test.tsx
  src/components/Layout/Layout.tsx
  src/features/Router/Router.tsx
  src/pages/index.tsx
Due: yarn prettier --write, yarn lint:js --fix, yarn test

feat: improve dependencies_update action
  .github/workflows/ci.yml
  .github/workflows/ci_cd.yml
  .github/workflows/dependencies_update.yml
Due: none

bugfix: update cron expression
  .github/workflows/dependencies_update.yml
Due: none

feat #8: add msw and addViewportInfo util
  jest.setup.cjs
  package.json
  public/mockServiceWorker.js
  src/components/Providers/Providers.tsx
  src/components/Seo/Seo.test.tsx
  src/components/Seo/Seo.tsx
  src/components/ThemeSwitch/ThemeSwitch.test.tsx
  src/components/ViewportInfo/ViewportInfo.test.tsx
  src/components/ViewportInfo/ViewportInfo.tsx
  src/lib/tools/customRender.tsx
  src/lib/tools/getMetaContent.ts
  src/mocks/handlers.ts
  src/mocks/server.ts
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test
