Repository teo-garcia/react-template-vite: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint:js --fix, yarn test, yarn lint:css --fix

feat: #0 - fix jest.setup.js file
  README.md
  jest.config.ts
  jest.setup.cjs
  jest.setup.ts
  package.json
  plopfile.cjs
  src/components/ThemeSwitch/ThemeSwitch.test.tsx
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test

feat: #0 remove css in favor of tailwind
  .lintstagedrc.cjs
  .stylelintrc.cjs
  package.json
  src/lib/tools/getPlopGenerators.cjs
  templates/component.css.hbs
  templates/component.jsx.hbs
  yarn.lock
Due: none

feat #0: update dependencies manually
  package.json
  yarn.lock
Due: none

feat #0: fix jest dom type issues
  jest.config.js
  jest.setup.js
  package.json
  tsconfig.json
Due: yarn prettier --write, yarn lint:js --fix, yarn test

feat #0: fix jest dom type issues
  jest.config.cjs
  jest.setup.cjs
  jest.setup.js
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test

feat: #0 bump deps manually
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test

feat #10: update msw configuration
  jest.setup.cjs
  src/components/Providers/Providers.tsx
  src/features/Banner/Banner.tsx
  src/lib/tools/deferRender.ts
  src/lib/tools/hooks.ts
  src/main.tsx
  src/mocks/browser.ts
  src/mocks/handlers.ts
  src/mocks/node.ts
Due: yarn prettier --write, yarn lint:js --fix, yarn test

feat: #0 update node.js version
  .github/workflows/ci_cd.yml
  .github/workflows/dependencies_update.yml
  package.json
Due: none

feat #10: improve msw execution and tooling
  plopfile.cjs
  src/App.tsx
  src/components/Providers/Providers.tsx
  src/components/Seo/Seo.test.tsx
  src/components/Seo/Seo.tsx
  src/components/ThemeSwitch/ThemeSwitch.tsx
  src/features/Banner/Banner.tsx
  src/features/Router/Router.tsx
  src/lib/hooks/useHealthcheck.ts
  src/lib/misc/config.ts
  src/lib/misc/customRender.tsx
  src/lib/misc/deferRender.ts
  src/lib/misc/getMetaContent.ts
  src/lib/misc/getPlopGenerators.cjs
  src/lib/mocks/browser.ts
  src/lib/mocks/handlers.ts
  src/lib/mocks/index.ts
  src/lib/mocks/node.ts
  src/lib/tools/deferRender.ts
  src/main.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  tsconfig.json
Due: yarn prettier --write, yarn lint:js --fix, yarn test

feat #10: fix msw on client-side
  jest.config.cjs
  package.json
  public/mockServiceWorker.js
  src/components/Providers/Providers.tsx
  src/components/Seo/Seo.tsx
  src/components/ThemeSwitch/ThemeSwitch.tsx
  src/components/ViewportInfo/ViewportInfo.tsx
  src/lib/misc/deferRender.ts
  src/lib/misc/types.ts
  src/lib/mocks/index.ts
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test

feat: #0 migrate to pnpm
  .github/workflows/ci_cd.yml
  .github/workflows/dependencies_update.yml
  .husky/pre-commit
  README.md
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write, yarn lint:js --fix, yarn test

feat: #0 bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

refactor(tailwind theme & commitizen): use tailwind theming and setup commitizen
  index.html
  package.json
  pnpm-lock.yaml
  src/components/Layout/Layout.tsx
  src/components/ThemeSwitch/ThemeSwitch.tsx
  src/features/Banner/Banner.tsx
  src/features/NotFoundBanner/NotFoundBanner.tsx
  src/index.css
  tailwind.config.js
Due: yarn prettier --write, yarn lint:js --fix, yarn test, yarn lint:css --fix

chore(dependencies): bump dependencies manually
  README.md
  package.json
  pnpm-lock.yaml
Due: none

fix(recreate pnpm lock file): recreate pnpm lockfile to fix the build
  pnpm-lock.yaml
Due: none

fix(dependencies update job): avoid frozen lockfiles during the auto dependencies update job
  .github/workflows/dependencies_update.yml
Due: none

feat: fix unit tests and bump deps
  .github/workflows/dependencies_update.yml
  package.json
  pnpm-lock.yaml
  src/components/ViewportInfo/ViewportInfo.test.tsx
Due: yarn prettier --write, yarn lint:js --fix, yarn test

feat: fix unit tests and bump deps
  src/components/ViewportInfo/ViewportInfo.tsx
Due: yarn prettier --write, yarn lint:js --fix, yarn test

fix(dependencies): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

feat: Update dependencies and fix npm setup
  .eslintrc.cjs
  .github/workflows/dependencies_update.yml
  .lintstagedrc.cjs
  index.html
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
  src/components/Providers/Providers.tsx
  src/components/Seo/Seo.tsx
  src/components/ThemeSwitch/ThemeSwitch.tsx
  src/components/ViewportInfo/ViewportInfo.tsx
  src/features/Banner/Banner.tsx
  src/features/Router/Router.tsx
  src/lib/mocks/browser.ts
  src/lib/mocks/node.ts
  src/main.tsx
  src/pages/index.tsx
  tailwind.config.js
  vite.config.ts
Due: yarn prettier --write, yarn lint:js --fix, yarn test

feat: remove unnecessary testing library
  e2e/example.spec.ts
  e2e/index.spec.ts
  jest.config.cjs
  package.json
  pnpm-lock.yaml
  src/lib/misc/deferRender.ts
Due: yarn prettier --write, yarn lint:js --fix, yarn test

bugfix: deps update pipeline
  .github/workflows/ci_cd.yml
  .github/workflows/dependencies_update.yml
  README.md
Due: none

feat: update ESLint configuration and disable dependencies update workflow
  .eslintrc.cjs
  .github/workflows/dependencies_update.yml
Due: none

docs(README.md): update README file
  README.md
Due: none

chore(eslint): upgrade to eslint@9
  .github/workflows/ci_cd.yml
  eslint.config.mjs
  jest.setup.cjs
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  public/mockServiceWorker.js
  src/App.test.tsx
  src/components/Layout/Layout.test.tsx
  src/components/Seo/Seo.test.tsx
  src/components/ThemeSwitch/ThemeSwitch.test.tsx
  src/components/ViewportInfo/ViewportInfo.test.tsx
  src/lib/misc/customRender.tsx
Due: yarn prettier --write, yarn lint:js --fix, yarn test

chore(mocking):setup msw
  app/features/Banner/Banner.tsx
  app/features/NotFoundBanner/NotFoundBanner.tsx
  app/lib/misc/customRender.tsx
  app/lib/misc/deferRender.ts
  app/lib/mocks/index.ts
  app/root.tsx
  app/routes/_index.tsx
  build/client/.vite/manifest.json
  build/client/assets/_index-Aw0fYdR-.js
  build/client/assets/app-dycP20Qn.css
  build/client/assets/chunk-V7UHCZHK-HTongSTI.js
  build/client/assets/entry.client-CU1xnq13.js
  build/client/assets/index-CNSNsPa2.js
  build/client/assets/manifest-88a7fbb7.js
  build/client/assets/root-CdjcwwFX.js
  build/client/mockServiceWorker.js
  build/client/vite.svg
  package.json
  pnpm-lock.yaml
Due: yarn prettier --write, yarn lint:js --fix, yarn test, yarn lint:css --fix

chore(misc): ditch react-helmet-async and improve docs
  README.md
  app/components/Seo/Seo.test.tsx
  app/components/Seo/Seo.tsx
  app/lib/misc/getMetaContent.ts
Due: yarn prettier --write, yarn lint:js --fix, yarn test

chore(deps): update dependencies
  app/app.css
  app/components/Layout/Layout.test.tsx
  app/components/theme-switch/theme-switcg.tsx
  app/components/theme-switch/theme-switch.test.tsx
  app/components/viewport-info/viewport-info.test.tsx
  app/components/viewport-info/viewport-info.tsx
  app/features/Banner/Banner.tsx
  app/root.tsx
  package.json
  pnpm-lock.yaml
  postcss.config.js
  tailwind.config.ts
Due: yarn prettier --write, yarn lint:js --fix, yarn test, yarn lint:css --fix

chore(template): use kebab case for components
  app/components/Layout/Layout.test.tsx
  app/components/Layout/Layout.tsx
  app/features/not-found-banner/not-found-banner.tsx
  app/root.tsx
  app/routes/_index.tsx
Due: yarn prettier --write, yarn lint:js --fix, yarn test

chore(template): remove plop
  app/lib/misc/customRender.tsx
  app/lib/misc/getPlopGenerators.cjs
  app/lib/misc/types.ts
  app/root.tsx
  package.json
  plopfile.cjs
  pnpm-lock.yaml
Due: yarn prettier --write, yarn lint:js --fix, yarn test

Path conditions:
  yarn prettier --write: any of: **/*.{js,jsx,ts,tsx}
  yarn lint:js --fix: any of: **/*.{js,jsx,ts,tsx}
  yarn test: any of: **/*.{js,jsx,ts,tsx}
  yarn lint:css --fix: any of: **/*.css
